@charset "utf-8";


/* Linear Gradients */
/* html {
    background: linear-gradient(135deg, blue, purple, maroon, magenta);
    height: 100%;
} */


/* Radial Gradients */
html {
    background: radial-gradient(circle closest-corner at center, blue, purple, maroon, magenta);
    height: 100%;
}